In [1]:
import pandas as pd

df = pd.read_csv("E:/11/practical data sets/heart.csv")


df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [2]:
# (a) Shape of the dataset
print("Shape of dataset (rows, columns):", df.shape)

Shape of dataset (rows, columns): (303, 15)

In [3]:
# (b) Missing values in each column
print("Missing values in each column:\n", df.isnull().sum())

Missing values in each column:
 Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [4]:
# (c) Data type of each column
print("Data types of each column:\n", df.dtypes)

Data types of each column:
 Unnamed: 0      int64
Age             int64
Sex             int64
ChestPain      object
RestBP          int64
Chol            int64
Fbs             int64
RestECG         int64
MaxHR           int64
ExAng           int64
Oldpeak       float64
Slope           int64
Ca            float64
Thal           object
AHD            object
dtype: object

In [5]:
# (d) Count of zeros in each column
print("Number of zeros in each column:\n", (df == 0).sum())

Number of zeros in each column:
 Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

In [6]:
# (e) Mean age of patients
mean_age = df['Age'].mean()
print("Mean age of patients:", mean_age)

Mean age of patients: 54.43894389438944

In [7]:
from sklearn.model_selection import train_test_split

# Select only Age, Sex, ChestPain, RestBP, Chol
columns = ['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol']
data_subset = df[columns]

# Split into training (75%) and testing (25%)
train_data, test_data = train_test_split(data_subset, test_size=0.25, random_state=42)

print("Training data shape:", train_data.shape)
print("Testing data shape:", test_data.shape)

# Show first few rows of training data
train_data.head()

Training data shape: (227, 5)
Testing data shape: (76, 5)

     Age  Sex     ChestPain  RestBP  Chol
287   58    1    nontypical     125   220
282   55    0  asymptomatic     128   205
197   45    0  asymptomatic     138   236
158   60    1  asymptomatic     140   293
164   48    1    nonanginal     124   255

In [8]:
# Confusion Matrix values
TP = 45
FP = 100 - 45
FN = 50 - 45
TN = 500 - (TP + FP + FN)

# Display Confusion Matrix
import pandas as pd
conf_matrix = pd.DataFrame([[TP, FP],
                            [FN, TN]],
                           columns=['Predicted Positive', 'Predicted Negative'],
                           index=['Actual Positive', 'Actual Negative'])
print("Confusion Matrix:\n", conf_matrix)

# Compute metrics
accuracy = (TP + TN) / (TP + TN + FP + FN)
precision = TP / (TP + FP)
recall = TP / (TP + FN)
f1_score = 2 * (precision * recall) / (precision + recall)

print("\nEvaluation Metrics:")
print(f"Accuracy:  {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall:    {recall:.2f}")
print(f"F1 Score:  {f1_score:.2f}")

Confusion Matrix:
                  Predicted Positive  Predicted Negative
Actual Positive                  45                  55
Actual Negative                   5                 395

Evaluation Metrics:
Accuracy:  0.88
Precision: 0.45
Recall:    0.90
F1 Score:  0.60